<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- block stylesheets -%}
        {{ encore_entry_link_tags('css/app') }}
    {%- endblock -%}
</head>
<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
{% block body %}
    <div id="siteApp"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            if (window.renderSiteIndexPage) {
                window.renderSiteIndexPage('siteApp');
            }
        });
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
